<style>
.demo{
	background-color: #d0e4fe;
	padding: 10px;
}
.demo-h1{
	color: orange;
	text-align: center;
}
.demo-p{
	font-size:20px; 
}
</style>
<div class "demo">
	<h1 class>="demo-h1"你好世界</h1>
	<br/>
	<p class="demo-p"css教程</p>
</div>
